body {
    background: #7bd0c1;
}

@media (displaySkiplinks) {
    body {
        background: #5e7d00;
    }
}

@media (max-width: 300px) {
    body {
        background: #5e7d00;
    }
}

@media screen and (displaySkiplinks) and (max-width: 300px) and (audioDescriptionEnabled: true ) {
    body {
        background: gold;
    }
}

@media screen and (not audioDescriptionEnabled) {
    body {
        background: firebrick;
    }
}

@media not screen and (displaySkiplinks) and (max-width: 300px) and (audioDescriptionEnabled: true ) {
    body {
        background: firebrick;
    }
}

@media (displaySkiplinks: never) {
    .skiplink {
        display: none;
    }
}


@media (displaySkiplinks: onfocus) {
    .skiplink:not(:focus) {
        position: absolute;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        clip-path: inset(100%);
        white-space: nowrap;
    }
}



