html {
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.content {
    width: 20em;
    background-color: white;
    padding: 25px;
    border-radius: 20px;

}

.welcome {
    color: white;
    padding: 100px 0 20px 0;
    text-align: center;
    font-style: italic;
    font-weight: lighter;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.countdown-wrapper {
    display: none;
}
#form > label {
    font-size: 0.8rem;
}

#form > input {
    margin-bottom: 10px;
    padding: 5px;
    width: 305px;
}

#countdown {
    font-weight: bolder;
}

.countdown-wrapper {
    position: absolute;
    text-align: left;
    top: 20px;
    right: 40px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

@media (min-height: 1000px) {
    .welcome {
        padding: 250px 0 20px 0;
    }

}

@media(min-width: 1200px) {
    .countdown-wrapper {
        right: 26em;
    }
}

@media (extended-session-timeout) {
    .countdown-wrapper {
        display: flex;
    }
}

button {
    margin-top: 15px;
    height: 51px;
    background-color: #1D7Bf3;
    color: white;
    border: 0px solid #E2E2E2;
}
button:hover {
    background-color: #E2E2E2;
    color: black;
    border: 0px solid #E2E2E2;
}

#reset-button:hover {
    background-color: white;
}

#reset-button {
    margin-left: 20px;
}
#countdown-text {
    width: 215px;
    padding: 0px 0px 0px 20px;
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: #294281;
    }
    .content {
        background-color: #333333;
    }

    .countdown-wrapper{
        background-color: #333333;
    }
}

.skiplink {
    position: absolute;
    top: 10px;
    left: 10px;
}