.buttons {
    display: flex;
    justify-content: space-between;
}

.countdown-wrapper {
    display: none;
}

#countdown {
    font-weight: bolder;
}

@media (extended-session-timeout) {
    .countdown-wrapper {
        display: flex;
    }
}