body {
    background: firebrick;
}

h1 {
    font-family: "Porsche Next";
    font-size: 40px;
}

p {
    font-family: "Porsche Next";
}


@media (captionsEnabled) {
    body {
        background: blue;
    }
}