.self-voicing-controls {
    display: none;
}
#passage-text {
    display: none;
}

#passage-text-normal {
    display: block;
}

@media (self-voicing-enabled: false) {
    .self-voicing-controls {
        display: none;
    }
    #passage-text {
        display: none;
    }
}

@media (self-voicing-enabled: true) {
    .self-voicing-controls {
        display: block;
    }
    #passage-text {
        display: block;
    }
    #passage-text-normal {
        display: none;
    }
}

.credits {
    font-size: smaller;
}

.picto {
    height: 150px;
}


/* Tooltip for Pictograms Enabled */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltipicto {
    visibility: hidden;
    background-color: floralwhite;
    color: #fff;
    padding: 5px 0;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


    /* Position the tooltip text - see examples below! */
    position: absolute;
    bottom: 100%;
    left: -50%;
    width: 160px;
    padding-left: 0;
    z-index: 1;
}

@media (pictograms-enabled) {
    .tooltip {
        border-top: 1.5px solid black;
        cursor: help;

    }
    .tooltip:hover .tooltipicto {
        visibility: visible;
    }

    .passage {
        line-height: 30px;
    }
}

.table-link {
    padding-left: 30px;
}

.table-of-contents-container{
    background-color: #E2E2E2;
    border-radius: 10px;
    width: 320px;
    padding: 10px;
}

.table-of-contents-container > a {
    text-decoration: none !important;
    color: black;
}

.table-of-contents-container > a > img{
    width: 20px;
    padding-right: 10px;
}


    .table-of-contents-list,
    .show,
    .hide:target {
        display: none;
    }

    .hide:target + .show,
    .hide:target ~ .table-of-contents-list {
        display: block;
    }


@media(table-of-contents: hide) {
    .table-of-contents-container{
        display: none;
    }
}

@media(table-of-contents: show) {
    .hide, .table-of-contents-container > a > img {
        display: none;
    }

    .table-of-contents-list,
    .show,
    .hide:target {
        display: block;
    }
}


@media(prefers-color-scheme: dark) {
    .table-of-contents-container {
        background-color: #4A4E51;
        color: white;
    }

    a {
        color: #4da6ff;
    }

    .table-of-contents-container > a {
        color: white;
    }

    .table-of-contents-container > a > img{
        color-adjust: white;
    }
}
