<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="controls">
    <div>
        <h3>Audio Description Enabled</h3>
        <label class="switch">
            <input id="audiodescriptionSwitcher" type="checkbox" checked>
            <span class="slider round"></span>
        </label>
    </div>
    <div>
        <h3>Captions Enabled</h3>
        <label class="switch">
            <input id="captionsSwitcher" type="checkbox">
            <span class="slider round"></span>
        </label>
    </div>
    <div>
        <h3>Sign Language Enabled</h3>
        <label class="switch">
            <input id="signLanguageSwitcher" type="checkbox">
            <span class="slider round"></span>
        </label>
    </div>
</div>
<div class="controls">
    <div>
        <h3>Self-Voicing Enabled</h3>
        <label class="switch">
            <input id="selfVoicingSwitcher" type="checkbox" checked>
            <span class="slider round"></span>
        </label>
    </div>
    <div>
        <h3>Table of Contents</h3>
        <label class="switch">
            <input id="tableSwitcher" type="checkbox" checked>
            <span class="slider round"></span>
        </label>
    </div>
    <div>
        <h3>Display Skiplinks:</h3>
        <input type="radio" id="always" name="skiplinks" value="always" checked>
        <label for="always">always</label><br>
        <input type="radio" id="onfocus" name="skiplinks" value="onfocus">
        <label for="onfocus">onfocus</label><br>
        <input type="radio" id="never" name="skiplinks" value="never">
        <label for="never">never</label>
    </div>
</div>

<button id="apply-button" onclick="openDummySite()">Apply preferences and continue</button>

</body>
</html>