#user-preference-view-wrapper {
    position: absolute;
    border-radius: 2vh;
    right: 2vh;
    top: 2vh;
    height: 96vh;

    background-color: gray;
    /* Add the blur effect */
    backdrop-filter: blur(10px);
}

#user-preference-view-wrapper #user-preference-view-one-day-stories-wrapper {
    width: 336px;
}

@media (max-width: 350px) {
    #user-preference-view-wrapper #user-preference-view-one-day-stories-wrapper {
        width: 96vw;
    }
}

#user-preference-view-one-day-stories-wrapper {
    display: flex;
}

.user-preference-view-one-day-story-div > img {
    width: calc(336px / 3);
}

.user-preference-view-one-day-stories-wrapper {
    display: flex;
}





/* Rounded sliders */
.user-preference-view-switch-control {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.user-preference-view-switch-control .user-preference-view-switch-hinput {
    opacity: 0;
    width: 0;
    height: 0;
}

.user-preference-view-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.user-preference-view-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.user-preference-view-switch-input:checked+.user-preference-view-slider {
    background-color: #2196F3;
}

.user-preference-view-switch-input:focus+.user-preference-view-slider {
    box-shadow: 0 0 1px #2196F3;
}

.user-preference-view-switch-input:checked+.user-preference-view-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.user-preference-view-slider.round {
    border-radius: 34px;
}

.user-preference-view-slider.round:before {
    border-radius: 50%;
}