@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

#user-preference-view-wrapper {
    --padding: 18px;
    --width: 315px;
}

#user-preference-view-wrapper * {
    font-family: 'Roboto', sans-serif;
    /*margin: 5px;*/
}

#user-preference-view-wrapper h1 {
    font-size: 1.6em;
}

#user-preference-view-wrapper h3 {
    font-size: 0.75em;
    font-weight: normal;
    letter-spacing: 0.1em;
}

#user-preference-view-wrapper {
    position: fixed;
    border-radius: 2vh;
    right: 2vh;
    top: 2vh;
    height: calc(96vh - 2 * var(--padding));
    padding: var(--padding);
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;

    background-color: #E6E6E6;
}

#user-preference-view-wrapper #user-preference-view-personas-wrapper {
    /*width: calc(336px + 2 * var(--padding));*/
    width: var(--width);
}

@media (max-width: 350px) {
    #user-preference-view-wrapper #user-preference-view-personas-wrapper {
        width: 96vw;
    }
}

#user-preference-view-personas-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.user-preference-view-persona-div > img {
    width: calc((var(--width) / 3) - var(--padding));
}

@media (max-width: 350px) {
    .user-preference-view-persona-div > img {
        width: calc(96vw / 3 - var(--padding));
    }
}

.user-preference-view-persona-div {
    padding: calc(var(--padding) / 2);
}

#user-preference-persona-selected {
    background: #2196F3;
    border-radius: 2vh;
    color: white;
    font-weight: bold;
}

.user-preference-view-persona-label {
    margin: 5px 0 10px 0;
    text-align: center;
}

.user-preference-view-ct-list-entry-div {
    background: white;
    border-radius: 2vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 calc(var(--padding) / 2) 0 calc(var(--padding) / 2);
    margin: 5px 0 5px 0;
    width: calc(var(--width) - var(--padding));
}





/* Rounded sliders */
.user-preference-view-switch-control {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.user-preference-view-switch-control .user-preference-view-switch-hinput {
    opacity: 0;
    width: 0;
    height: 0;
}

.user-preference-view-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.user-preference-view-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.user-preference-view-switch-input:checked+.user-preference-view-slider {
    background-color: #2196F3;
}

.user-preference-view-switch-input:focus+.user-preference-view-slider {
    box-shadow: 0 0 1px #2196F3;
}

.user-preference-view-switch-input:checked+.user-preference-view-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.user-preference-view-slider.round {
    border-radius: 20px;
}

.user-preference-view-slider.round:before {
    border-radius: 50%;
}

.user-preference-view-switch-control {
    display: flex;
    justify-content: center;
}