@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

html {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 50px;
}

#apply-button {
    font-size: larger;
}

.tablelink {
    padding-left: 30px;
}

@media(table-of-contents: hide) {
    .table-of-content {
        display: none;
    }
}

@media(min-width: 800px) {
    html {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media(min-width: 1200px) {
    html {
        padding-left: 20%;
        padding-right: 20%;
    }
}

@media(min-width: 1800px) {
    html {
        padding-left: 25%;
        padding-right: 25%;
    }
}


/*Skiplinks*/
@media(display-skiplinks: onfocus) {
    .skiplink:not(:focus) {
        position: absolute;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        clip-path: inset(100%);
        white-space: nowrap;
    }
}
@media(display-skiplinks: never) {
    .skiplinks {
        display: none;
    }
}