@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

html {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 50px;
    text-align: left;
}

#apply-button {
    font-size: larger;
}


@media(min-width: 800px) {
    html {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media(min-width: 1200px) {
    html {
        padding-left: 24em;
        padding-right: 24em;
    }
}

@media(min-width: 1800px) {
    html {
        padding-left: 24em;
        padding-right: 24em;
    }
}


/*Skiplinks*/

.skiplinks {
    display: none;
}

@media(display-skiplinks: onfocus) {
    .skiplinks {
        display: block;
    }

    .skiplink:not(:focus) {
        position: absolute;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        clip-path: inset(100%);
        white-space: nowrap;
    }
}
@media(display-skiplinks: always) {
    .skiplinks {
        display: block;
    }
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: black;
        color: white;
    }
}