@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

#user-preference-view-wrapper {
    --padding: 18px;
    --width: 19.6875em;
    --position: 2vh;
    --height: 96vh;
    --corner: 2vh;
    --background-color: #E2E2E2;
    --foreground-color: #000000;
    --tint-color: #1D7Bf3;
    --green-color: green;
    --red-color: red;
    --secondary-color: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
    #user-preference-view-wrapper {
        --background-color: #1A2023;
        --foreground-color: #FFFFFF;
        --tint-color: #0F62CB;
        --secondary-color: #4A4E51;
    }
}

#user-preference-view-wrapper * {
    font-family: 'Roboto', sans-serif;
    color: var(--foreground-color);
    /*margin: 5px;*/
}

#user-preference-view-wrapper h1 {
    font-size: 1.6em;
    text-align: left;
}

#user-preference-view-wrapper h3 {
    font-size: 0.75em;
    font-weight: normal;
    letter-spacing: 0.1em;
}

#user-preference-view-panel-wrapper {
    position: fixed;
    border-radius: var(--corner);
    right: -400px;
    top: var(--position);
    height: var(--height);
    padding: 0 var(--padding);
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    transition: right 0.5s;
    transition-timing-function: ease;

    background-color: var(--background-color);
}



#user-preference-view-panel-wrapper #user-preference-view-personas-wrapper {
    /*width: calc(336px + 2 * var(--padding));*/
    width: var(--width);
}

@media (max-width: 350px) {
    #user-preference-view-panel-wrapper #user-preference-view-personas-wrapper {
        width: 96vw;
    }
}

#user-preference-view-personas-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.user-preference-view-persona-div > img {
    width: calc((var(--width) / 3) - var(--padding));
}

@media (max-width: 350px) {
    .user-preference-view-persona-div > img {
        width: calc(96vw / 3 - var(--padding));
    }
}

.user-preference-view-persona-div {
    padding: calc(var(--padding) / 2);
    cursor: pointer;
}

#user-preference-persona-selected {
    background: var(--tint-color);
    border-radius: 2vh;
    font-weight: bold;
}

#user-preference-persona-selected > p{
    color: white;
}


.user-preference-view-persona-label {
    margin: 5px 0 10px 0;
    text-align: center;
}

.user-preference-view-ct-list-entry-div {
    background: var(--secondary-color);
    border-radius: 1vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 calc(var(--padding) / 2) 0 calc(var(--padding) / 2);
    margin: 5px 0 5px 0;
    width: calc(var(--width) - var(--padding));

}

#user-preference-view-ct-list-wrapper {
    padding-bottom: 30px;

}

.user-preference-view-apply-button-wrapper ~ #user-preference-view-ct-list-wrapper {
}

.user-preference-view-apply-button-wrapper {
    position: sticky;
    bottom: 0;
    right: 0;
    background: var(--background-color);
    padding-bottom: var(--padding);
    padding-top: calc(var(--padding) / 2);

    display: flex;
    justify-content: space-between;
}

.user-preference-view-header-view-wrapper {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background: var(--background-color);
    padding-top: calc(var(--padding) / 2);
    z-index: 100;
}

#user-preference-view-hide-panel-button {
    padding-right: 0;
}

#user-preference-view-login-wrapper {
    display: flex;
    flex-direction: column;
}

#user-preference-view-open-ape-logo {
    width: 125px;
    cursor: pointer;
}

#user-preference-view-error-field {
    width: calc(var(--width) - 2 * var(--padding));
    color: red;

}
#user-preference-view-login-wrapper * {
    padding: 10px 0 10px 0;
}
#user-preference-view-login-button {
    margin-top: 15px;
    height: 51px;
    background-color: var(--tint-color);
    color: white;
    border: 3px solid var(--background-color);
}
#user-preference-view-login-button:hover {
    background-color: white;
    color: black;
    border: 3px solid var(--background-color);
}

#user-preference-view-open-button-view {
    position: fixed;
    right: var(--position);
    top: var(--position);
    width: 140px;
    heigt: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--secondary-color);

    padding: 10px;
    border-radius: var(--corner);

    transition: right 0.5s;
    transition-timing-function: ease;

    cursor: pointer;
}

#user-preference-view-show-panel-button {
    display: flex;
    justify-content: center;
}

#user-preference-view-open-button-view * {
    margin: 0;
    padding: 0;
}

/* Button Style */
.user-preference-view-button {
    border: none;
    color: white;
    padding: 13px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: calc(2vh /2);
    margin: 0;
}

#user-preference-view-apply-button {
    background-color: var(--tint-color);
    color: white;
    border: 3px solid var(--tint-color);

}

#user-preference-view-apply-button:hover {
    background-color: var(--green-color);
    color: black;
    border: 3px solid var(--background-color);
}

#user-preference-view-cancel-button {
    background-color: var(--secondary-color);
    color: black;
    border: 3px solid var(--background-color);
    color: var(--foreground-color);
}

#user-preference-view-cancel-button:hover {
    background-color: firebrick;
    color: white;
}



@media (prefers-reduced-motion: reduce) {
    #user-preference-view-open-button-view, #user-preference-view-panel-wrapper{
        transition: none;
    }
}

@media (prefers-contrast: high) {
    body {
        background: #1A2023;
    }
    #user-preference-view-panel-wrapper {
        border: 3px solid #1A2023;
    }
}



/* Rounded sliders */
.user-preference-view-switch-control {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.user-preference-view-switch-control .user-preference-view-switch-hinput {
    opacity: 0;
    width: 0;
    height: 0;
}

.user-preference-view-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background-color);
    -webkit-transition: .4s;
    transition: .4s;
}

.user-preference-view-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.user-preference-view-switch-input:checked+.user-preference-view-slider {
    background-color: var(--tint-color);
}

.user-preference-view-switch-input:focus+.user-preference-view-slider {
    box-shadow: 0 0 1px var(--tint-color);
}

.user-preference-view-switch-input:checked+.user-preference-view-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.user-preference-view-slider.round {
    border-radius: 20px;
}

.user-preference-view-slider.round:before {
    border-radius: 50%;
}

.user-preference-view-switch-control {
    display: flex;
    justify-content: center;
}

.user-preference-view-text-input, #user-preference-view-openape-username, #user-preference-view-openape-password {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #848484;
    outline:0;
    height:25px;
    padding-left: 10px;
    padding-right: 10px;

}

#user-preference-view-sign-language-input,  #user-preference-view-session-timeout-input{
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    width: 100px;
    text-align: right;
}

@media (prefers-color-scheme: dark) {
    .user-preference-view-text-input{
        background-color: var(--secondary-color);
    }
}
